body{
    background: #FFFFFF;
    font-family: sans-serif;
}

.center{
    background: #ff1744;
    width:50%;
    height:67vh;
    display: flex;
    border-radius: 20px;
    margin-top: 3%;
    border-color: black;
    margin-left: 20%;
}

.center1{
    width: 50%;
    margin-top: 1vh;
    margin-left: 1%;
    height: 65vh;
    display: flex;
    border-radius: 20px;
    vertical-align: top;
    background: white;
    border-color: black;
    justify-content: center;
    align-items: center;
}

.loginTitle{
    text-align: center;
    margin-bottom: 70px;
    color: #575757;
}

.inputField{
    box-sizing: border-box;
}

.inputField input, button{
    width: 100%;
    border: 0;
    box-sizing: border-box;
    height: 35px;
}

.inputField input{
    margin-bottom: 20px;
    background-color: transparent;
    color: #575757;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #57575744;
}

.inputField input:focus-visible{
    outline: 0px !important;
}

.inputField button{
    margin-top: 25px;
    background-color: #ff1744;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.center1 .fp{
    justify-content: center;
    color: white;
    text-align: center;
    font-size: small;
    margin-top: -10px;
}

.fp a{
    color: cornflowerblue;
}

.signupLink{
    text-align: center;
    color: #575757;
    font-size: smaller;
}

.signupLink a{
    color:cornflowerblue;
}

@media screen and (max-width: 800px) {
    .center{
        margin-top: 12%;
        margin-left: 25%;
        width: 50%;
    }
    .center1{
        width:98%;
    }
    .center2{
        display: none;
    }
}




/* ******************************************************************************************************** */
/* Navbar styles */
/* ******************************************************************************************************** */
