body {
    background: #FFFFFF;
}


/* ******************************************************************************************************** */
/* Navbar styles */
/* ******************************************************************************************************** */

body {
    background: #ffffff;
  }
  
  .navbar {
    background: #ff1744;
    height: 15%;
    width: 100%;
    margin: auto;
    display: flex;
  }
  
  .navtitle {
    color: #ffffff;
    font-weight: bold;
    margin-left: 2%;
    /* margin-top: 1%; */
    font-size: larger;
    display: flex;
    cursor: pointer;
  }
  
  .navLink {
    display: flex;
    align-items: center;
    margin-left: 50%;
    flex-direction: row;
  }
  
  .navLink a {
    margin-right: 25px;
    color: #ffffff;
    text-decoration: none;
  }
  
  .navLink a:hover {
    color: black;
  }
  
  .profileBtn {
    display: flex;
    align-items: center;
    color: #ffffff;
    border: 1px solid #ffffff;
    width: 150px;
    height: 35%;
    border-radius: 20px;
    justify-content: center;
    padding: 5px 0px 5px 0px;
  }
  .profileBtn button {
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 0px 4px 0px;
    border-radius: 20px;
    color: #ffffff;
    font-size: 15px;
  }
  
  .profileBtn button:hover {
    background: #ffffff;
    color: black;
  }
  
  .profileBtn img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  .profileIcon {
    border: 1px solid #ffffff;
    width: 20%;
    height: 100%;
    border-radius: 50%;
    margin-right: -15%;
    margin-left: 20%;
  }
  